<a href="https://colab.research.google.com/github/srinath2003/Dev-Assignment/blob/main/ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stat
df=pd.read_csv("/content/HRDataset_v14.csv")
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [ ]:
df.count()

Employee_Name                 311
EmpID                         311
MarriedID                     311
MaritalStatusID               311
GenderID                      311
EmpStatusID                   311
DeptID                        311
PerfScoreID                   311
FromDiversityJobFairID        311
Salary                        311
Termd                         311
PositionID                    311
Position                      311
State                         311
Zip                           311
DOB                           311
Sex                           311
MaritalDesc                   311
CitizenDesc                   311
HispanicLatino                311
RaceDesc                      311
DateofHire                    311
DateofTermination             104
TermReason                    311
EmploymentStatus              311
Department                    311
ManagerName                   311
ManagerID                     303
RecruitmentSource             311
PerformanceScore              311
EngagementSurvey              311
EmpSatisfaction               311
SpecialProjectsCount          311
LastPerformanceReview_Date    311
DaysLateLast30                311
Absences                      311
dtype: int64

In [ ]:
a=df["PerfScoreID"]
b=df["MarriedID"]

In [ ]:
z_test,p_value=stat.ztest(a,b,value=0)
print(z_test)
print(p_value)

59.45030265302287
0.0

In [ ]:
if p_value < 0.05:
  print("Null hypothesis rejected")
else:
  print("Alternative hypothesis rejected")

Null hypothesis

In [ ]:
z_test,p_value=stat.ztest(a,value=0)
print(z_test)
print(p_value)

89.44163564891167
0.0

In [ ]:
z_test,p_value=stat.ztest(b,value=0)
print(z_test)
print(p_value)

14.337415991949289
1.2772313224883749e-46

In [ ]:
import math
from scipy.stats import norm

# sample data
sample1 = df["PerfScoreID"]
sample2 =df["MarriedID"]

# calculate means and standard deviations
mean1 = sum(sample1) / len(sample1)
mean2 = sum(sample2) / len(sample2)
std1 = math.sqrt(sum([(x - mean1)**2 for x in sample1]) / (len(sample1)-1))
std2 = math.sqrt(sum([(x - mean2)**2 for x in sample2]) / (len(sample2)-1))

# calculate the test statistic
z = (mean1 - mean2) / math.sqrt((std1**2 / len(sample1)) + (std2**2 / len(sample2)))

# calculate the p-value
p = 2 * (1 - norm.cdf(abs(z)))

# print the results
print("z-score: ", z)
print("p-value: ", p)

z-score:  59.450302653022796
p-value:  0.0